/******************************************
*  Author : Excel   
*  Created On : Wed Apr 20 2022
*  File : chaos.css
*******************************************/

body {
    background-color: rgb(157, 182, 157);
}

#article {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    color: #333;
    line-height: 1.5;

    background: #fafafa;
    border-radius: 0.5em;
    margin: auto;
    padding-inline: 2em;
    padding-top: 0.5em;
    max-inline-size: 800px;
}

.header {
    border-bottom: #333 solid 1px;
    margin-bottom: 1em;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
}

.left-float {
    float: left;
    margin: 0em;
}

.right-float {
    float: right;
    margin: 0em;
    margin-left: 2em;
}

#info {
    background-color: #c4f3b8;
    border-radius: 0px;
    border-color: black;
    border: solid;
    overflow: hidden;
    padding-top: 0;
    padding: 10px;
}

@media screen and (orientation: landscape) {
    #info {
        float: right;
        width: 16em;
        margin-left: 2em;
        margin-bottom: 2em;
    }
}

@media screen and (orientation: portrait) {
    #info {
        float: none;
        margin-inline: auto;
    }

    .info-column {
        font-size: 2em;
        margin-inline: 2em;
    }

    h3 {
        text-align: center;
    }
}

.clearance {
    color: gray;
    font-size: 0.75em;
    position: relative;
    padding-top: 0em;
}

.section {
    text-align: justify;
    /* text-justify: inter-word; */
}