/******************************************
*  Author : Excel   
*  Created On : Thu Apr 07 2022
*  File : void.css
*******************************************/

body {
    background-image: url('../images/void.gif');
    background-repeat: repeat;
  }

#background {
    height : 100%;
    width : 100%;
}

#intro {
  color : white;
  font-family : Arial, Arial, Helvetica, sans-serif;
}