/******************************************
*  Author : Excel   
*  Created On : Thu Apr 07 2022
*  File : void.css
*******************************************/

body {
    background-image: url('../images/void.gif');
    background-repeat: repeat;
}

/* img {
  filter: invert();
} */

button {
    background-color: whitesmoke;
}

#background {
    height : 100%;
    width : 100%;
}

#intro {
  color : white;
  font-family : Arial, Arial, Helvetica, sans-serif;
}

#scene {
  width: 100%;
  height: 100%;
}

#tower {
  width : 80%;
}

#ocean {
  background-color: rgb(42, 42, 112);
  width: 100%;
  height: 100px;
}

.center {
  display: block;
  margin: auto;
}

.platform {
  width: 4%;
  position: absolute;
}

#platforms {
  background-color: blanchedalmond;
  width: 25%;
  position: 'absolute';
  top: -100px;
}

#scene {
  border: 2px;
  background-color: rgb(82, 81, 163);
  position: relative;
}

#plat1 {
  position: absolute;
  left: 39%;
  top: 50%;
  width: 3%;
}

#plat2 {
  position: absolute;
  left: 31%;
  top: 53%;
}

#plat3 {
  position: absolute;
  left: 36%;
  top: 60%;
  width: 5%;
}

#plat4 {
  position: absolute;
  left: 51%;
  top: 62%;
  width: 5%;
}

#plat5 {
  position: absolute;
  left: 64%;
  top: 58%;
  width: 4%;
}

#plat6 {
  position: absolute;
  left: 59%;
  top: 52%;
  width: 3%;
}